---
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Architects of Meaning</title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body class="bg-white text-black font-sans leading-relaxed">
    <main class="max-w-3xl mx-auto p-6 prose">
      <slot />
    </main>
  </body>
</html>
